<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tomtop.portal.mapper.LanguageMapper" >
  <resultMap id="BaseResultMap" type="com.tomtop.portal.pojo.Language" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lang" property="lang" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, lang
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_language
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_language
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_language
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tomtop.portal.pojo.Language" useGeneratedKeys="true" keyProperty="id">
    insert into t_language (lang)
    values (#{lang,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tomtop.portal.pojo.Language" >
    insert into t_language
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lang != null" >
        lang,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lang != null" >
        #{lang,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tomtop.portal.pojo.Language" >
    update t_language
    <set >
      <if test="lang != null" >
        lang = #{lang,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tomtop.portal.pojo.Language" >
    update t_language
    set lang = #{lang,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>